# Prerequisites
*.d

# Object files
*.o
*.ko
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.out
loop

# Debug files
*.dSYM/

3600-Goodies.code-workspace
ages.png
fork
wait
.DS_Store
calcPrimes
duplicateData
calcPrimes
exec
fork
exec
.DS_Store
stop
list
tempCodeRunnerFile.c
tempCodeRunnerFile.sh
.DS_Store
W09-07-RecitationBase
countProcesses
cmdPipe
dup
pause
pipe1
pipe2
progress
rec07-1
redir
signal
t_wait
test
W09-07-Recitation-Starter
pipeRedir
mserver
server
client
